.container {
  display: flex;
}

.sidebar {
  width: 180px;

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    margin-top: 8px;
    list-style: none;
  }
  li:first-of-type {
    margin-top: 0;
  }

  a {
    color: #878787;
    text-decoration: none;
  }

  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
    }
  }
}
