@use "../../../../styles/variables" as var;

.vertical_line {
  margin: 16px 0;
  border-right: 1px solid var.$light_gray;

  @include var.mq(md) {
    margin: 24px 0;
  }
}

.sidebar {
  width: 150px;

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    margin-top: 8px;
    list-style: none;
  }
  li:first-of-type {
    margin-top: 0;
  }

  a {
    color: #878787;
    text-decoration: none;
  }

  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
    }
  }
}
