.zustand {
  h2 {
    margin: 0;
    font-size: 20px;
  }
}

.parent {
  background-color: #ffe1e1;
  border-radius: 8px;
}

.child {
  background-color: #ffabab;
  border-radius: 8px;
}

.another {
  background-color: #dfc8fc;
  border-radius: 8px;
}
