.zustand {
  h2 {
    margin: 0;
    font-size: 20px;
  }
}

.parent {
  background-color: #d9b499;
  border-radius: 8px;
}

.child {
  background-color: #b87e55;
  border-radius: 8px;
}

.another {
  background-color: #c5af8d;
  border-radius: 8px;
}
