.header {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 56px;
  background-color: khaki;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;

  span {
    font-size: 32px;
  }
}
